@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    font-weight:400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    background: #ededed;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: #343434;
  }
.php-error #adminmenuback, .php-error #adminmenuwrap {
  margin-top: 0;
}
p{
  margin: 0;
}
body img {
    border: none;
    max-width: 100%;
    height:auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
.relative {
    position: relative;
  }
  
  .flex{
    display:flex;
  }
  
  a {
    text-decoration: underline;
    color: #24404f;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
  }
  
  a:hover {
    text-decoration: none;
    color: #171717;
    outline: none;
  }
  
  a:focus {
    color: #0800a4;
    text-decoration: none;
    outline: none;
  }
  
  :focus {
    outline: none;
  }
  
  ul{
    list-style:none;
    margin: 0;
    padding:0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    margin-top: 0;
    color: #000000;
    font-weight: 600;
      -webkit-font-smoothing:auto;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 38px;
  }
  
  h2 {
    font-size: 36px;
  }
  
  h3 {
    font-size: 28px;
  }
  
  h4 {
    font-size: 24px;
  }
  
  h5 {
    font-size: 20px;
  }
  
  h6 {
    font-size: 18px;
  }
  b, strong {
    color: #000000;
  }
  .site-title a {
    font-size: 28px;
    text-decoration: none;
    font-weight: 700;
}
  .subheading {
    font-family: "Merriweather", serif;
    font-style: italic;
    font-size: 17px;
    line-height: 32px;
  }
  .uppercase {
    text-transform: uppercase;
  }
  ::-moz-selection {
    color: #fff;
    background-color: #0800a4;
  }
  
  ::-webkit-selection {
    color: #fff;
    background-color: #0800a4;
  }
  
  ::selection {
    color: #fff;
    background-color: #0800a4;
  }
  
blockquote {
    margin-bottom: 30px;
    padding: 0 0 0 30px;
    border-left: 2px solid #eaeaea;
  }
  
  blockquote > p {
    font-size: 18px;
    line-height: 30px;
    font-family: "Merriweather", serif;
    color: #999999;
    margin-bottom: 5px !important;
    position: relative;
    font-style: italic;
  }
  
  blockquote > span {
    color: #0800a4;
    font-size: 13px;
  }
  .entry-header{
    text-align: center;
  }
  .blog-list .items-grid{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
  }
  .items-grid .entry-pages{
    width:48%;
  }
  .post-single {
    background: #fff;
      box-shadow: 5px 0 35px rgb(31 31 31 / 10%);
      max-width: 96%;
      margin: 20px auto;
      padding: 2% 5%;
  }
  .page-section{
    background: #fff;
      box-shadow: 5px 0 35px rgb(31 31 31 / 10%);
      margin: 30px auto;
      padding: 2%;
  }
  .full-width .post-content {
    width: 100%;
    padding: 0 15px;
  }
  
  .entry-header {
    text-align: center;
  }
  
  .entry-category {
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:70%;
    margin:0 auto;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-size: 14px;
    color: #0800a4;
    position: relative;
    padding: 0 23px;
  }
  
  .entry-category:before {
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    background-color: #0800a4;
  }
  
  .entry-category:after {
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    background-color: #0800a4;
  }
  
  .large-post .entry-title {
    font-size: 26px;
    margin-top: 16px;
  }
  
  .large-post .entry-header {
    margin-bottom: 32px;
  }
  
  .entry-title {
    font-size: 18px;
    font-weight:700;
    margin-top: 14px;
    margin-bottom: 5px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .entry-title a:hover {
    color: #0800a4;
  }
  
  .entry-img {
    position: relative;
    display: block;
    /* margin-bottom: 30px; */
  }
  .entry-pages {
    display:flex;
    background: #fff;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .entry-pages-content{
    margin-left:2%;
  }
  .entry-pages-content .entry-title a{
    font-size:18px;
    font-weight:700;
    letter-spacing: normal;
    text-transform: none;
  }
  .entry-pages-content p{
    font-style:italic;
  }
  /* Entry List
-------------------------------------------------------*/
.post-small img {
    width: auto;
  }
  
  .entry-list .entry-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
  }
  
  .entry-list li .entry-meta {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .entry-list ul > li {
    padding: 12px 0;
  }
  
  .entry-list ul > li:first-child {
    padding-top: 0 !important;
  }
  
  .entry-list ul > li:last-child {
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }
  
  .entry-list ul > li a:hover {
    color: #0800a4;
  }
  
  .entry-list ul > li .entry-title {
    font-family: "Roboto", serif;
    font-size: 14px;
    text-transform: none;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 1px;
    line-height: 1.4;
  }
  
  .entry-list ul > li .entry-meta li:first-child {
    padding-left: 0;
  }
  
  .entry-list.w-thumbs ul > li {
    padding: 15px 0;
  }
  
  .items-list .entry-header {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .items-list .entry-category {
    padding: 0;
  }
  
  .items-list .entry-category:before, .items-list .entry-category:after {
    display: none;
  }
  
  .items-list .entry-meta-wrap {
    margin-top: 0;
    padding: 0;
    border-top: none;
    border-bottom: none;
  }
  
  .items-list .entry-item {
    margin-bottom: 30px;
  }

  .content-wrapper{
    max-width: 1400px;
    margin: 0 auto;
      padding-left:30px;
      padding-right:30px;
    /* border:1px solid #fafafa; */
  }

  .post-thumbnail{
    background: #ECD9C0;
    height: 170px;
    width:100%;
    overflow:hidden;
  }

  .post-content{
    padding:2% 5%;
     margin:30px auto;
      background: #fff;
       /* transform: translateY(-2%);*/
    }
    .content-flex{
      display:flex;
    }
    .page{
      margin-top:70px;
      margin-bottom:70px;
    }

    .container-fluid{
        margin-top:80px;
        max-width:100%;
        padding-left: 0;
        padding-right: 0;
      }

      .scroll-down {
        font-size: 16px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        text-align: center;
        line-height: 30px;
        z-index: 50 !important;
        position: absolute;
        bottom: 40px;
        left: 50%;
        margin-left: -15px;
      }
      
      .scroll-down a {
        line-height: 34px;
        position: relative;
        z-index: 50 !important;
      }
      
      .scroll-down i {
        color: #fff;
        -webkit-animation: scroll-down-icon 1s infinite;
        -moz-animation: scroll-down-icon 1s infinite;
        -o-animation: scroll-down-icon 1s infinite;
        animation: scroll-down-icon 1s infinite;
        position: absolute;
        left: 7px;
        font-size: 20px;
      }

      @-webkit-keyframes scroll-down-icon {
        0% {
          bottom: 3px;
        }
        50% {
          bottom: 8px;
        }
        100% {
          bottom: 3px;
        }
      }
      
      @-moz-keyframes scroll-down-icon {
        0% {
          bottom: 3px;
        }
        50% {
          bottom: 8px;
        }
        100% {
          bottom: 3px;
        }
      }
      
      @-o-keyframes scroll-down-icon {
        0% {
          bottom: 3px;
        }
        50% {
          bottom: 8px;
        }
        100% {
          bottom: 3px;
        }
      }
      
      @keyframes scroll-down-icon {
        0% {
          bottom: 3px;
        }
        50% {
          bottom: 8px;
        }
        100% {
          bottom: 3px;
        }
      }

      .about-breed__page h3{
        /* display:flex; */
        margin-top:30px;
        align-items:center;
      }
      .about-breed__page h3:before{
        content:'';
        display:block;
        width:30%;
        height:1px;
        background:#24404f;
      }
      .posts__list__item{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding:5px;
        justify-content:space-between;
      }

      .posts__list.expo li{
        width: 16%;
      }
      .posts__list.expo li:nth-child(1){
        width:12%;
      }
      .posts__list.expo li:nth-child(2){
        width:38%;
      }
      
      .posts__list__item.location{
        justify-content: flex-start;
      }
      .posts__list__item.location span{
        font-size: 14px;
        font-style: italic;
      }
      .posts__list__item__content h3{
        margin-bottom:0;
      }

      .posts__list.expo,
.dogs .posts__list__item{
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
  /* border-bottom: 1px solid #6DB7E0; */
}
.expo__name {
  font-weight: 700;
}
.expo-list__link .posts__list.expo{
  transition: all 0.9s ease-in-out;
}

.posts__list__item__content{
    margin-left: 30px;
  }

  .dogs .posts__list__item h3{
    font-size:20px;
  }
  .dogs .posts__list__item h3 a{
    text-decoration:none;
  }
  .dogs .posts__list__item .posts__list__item__content p{
    font-size: 14px;
  }
  .dogs .posts__list__item {
    justify-content: flex-start;
    transition: all 0.9s ease-in-out;
  }

  .dog-card{
    /* display:flex;
    flex-wrap:wrap; */
    display: flex;
    border: 2px solid #6DB7E0;
      flex-basis: 40%;
      align-items:center;
      /* text-align: center; */
      color: #313131;
      background: rgba(205,237,255,.4);
      padding: 2%;
  }
  
    .dog-card__summary {
      display: flex;
      align-items:center;
  }

  .parent-card-dog {
    flex-basis: 70%;
}
.dog-card__summary a{
  display:block;
  flex-basis:50%;
}
/* .dog-card__summary__info{
  flex-basis:50%;
}
.dog-card__info{
  flex-basis:100%;
}
.dog-card__more{
  flex-basis:100%;
  border:none;
}
.dog-card__more a{
  display:block;
  text-align:right;
} */
.mini__dog-card{
  display:flex;
  align-items: center;
  background: rgba(205,237,255,.4);
  padding: 20px;
}
.mini__dog-card__info h4{
  margin-bottom:0;
}
.mini__dog-card h5{
  font-size:16px;
}
/* .mini__dog-card__img{
  flex-basis:20%;
} */
.mini__dog-card {
  flex-basis: 40%;
  border:2px solid #6DB7E0;
  /* margin-top: 20px; */
}

/*SINGLE CARD*/
.single-dog__container{
    max-width:1200px;
    margin: 70px  auto;
  }
  .single-dog__card{
    display:flex;
    flex-wrap:wrap;
    /* max-width: 70%; */
    margin: 0 auto;
    align-items:center;
    background: #CDEDFF;
    padding: 2%;
    box-shadow: 1px 1px 3px rgb(31 31 31 / 20%);
  } 
  .single-dog__card__ingo__p__name {
    margin-bottom: 0;
    line-height: 1;
    margin-left: 10px;
}
  .single-dog__card__photo{
    flex-basis:40%;
  }
  .photo_capture {
    position: absolute;
    bottom: 0;
    background: rgba(255,255,255,.7);
    width: 100%;
    padding: 2px 5px;
    display: flex;
    font-size: 12px;
}
.photo_capture span {
    font-weight: 700;
}
.photo_capture p {
    margin-left: 5px;
}
.thumb-img {
  position: relative;
}


  .single-dog__card__info{
    flex-basis: 58%;
    margin-left:2%;
  }

  .single-dog__card .h3-heading{
    width:100%;
    text-align:center;
  }
  /* .thumb-img {
    max-width: 450px;
  } */
  img.attachment-bigpic.size-bigpic.wp-post-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .single-dog__card__info{
    margin-left: 2%;
    flex-basis: 58%;
  }
  .single-dog__card__info__name{
    display:flex;
    align-items:flex-end;
    margin-bottom:20px;
  }
  .single__dog__card__info__add {
    margin-top: 20px;
}
.single-dog__card__info__p{
  color:#000;
  font-weight:700;
}
  .single-dog__card__info__p span{
    font-weight:400;
    margin-right:7px;
  }
  
  ul.single-dog__list {
    margin: 30px auto;
    display: flex;
    align-items: center;
  }
  li.single-dog__list__item {
    width: 100%;
    flex-basis:100%;
  }

  .navbar-nav {
    margin: 0;
    display: inline-block;
    float: none;
  }
  
  .navbar-nav li:not(:last-child) {
    margin-right: 15px;
  }
  
  .navbar-nav > li > a {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration:none;
    font-weight: 500;
    letter-spacing: 0.15em;
    color: #000000;
    font-size: 14px;
    padding:0;
    line-height: 16px;
  }
  
  .navbar-nav > li:last-child > a {
    padding-right: 0;
  }
  
  .navbar-collapse {
    border: none;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
  }
  
  .navbar-collapse.in {
    overflow-x: hidden;
  }
  
  .navbar-nav > li > a:hover,
  .navbar-nav > .current-menu-item > a,
  .navbar-nav > .current-menu-item > a:focus,
  .navbar-nav > .current-menu-item > a:hover {
    color: #36434B;
  }
  
  .navbar-nav > .open > a,
  .navbar-nav > .open > a:focus,
  .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #0800a4;
  }
  
  .nav .open > a,
  .nav .open > a:focus,
  .nav .open > a:hover,
  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: transparent;
    border-color: #eaeaea;
    text-decoration: none;
  }
  
  .navbar-nav .dropdown-menu {
    left: 0;
  }
  
  .navbar-nav .dropdown-menu.menu-right {
    left: auto;
    right: 0;
  }
  
  .dropdown-menu {
    min-width: 200px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #6DB7E0;
    border-bottom: none;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .dropdown-menu li > a {
    padding: 11px 15px;
    color: #171717;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid #363636;
    font-weight: 400;
    /* text-transform: uppercase; */
    letter-spacing: 0.1em;
  }
  
  .dropdown-menu li:last-child > a {
    border-bottom: none;
  }
  
  .dropdown-menu > li > a:focus,
  .dropdown-menu > li > a:hover {
    background-color: transparent;
  }
  .dropdown-menu > li > a:before{
    content:'';
    width:10px;
    height:10px;
    background: url('../images/svg/triangle.svg') no-repeat;
    background-size:contain;
    display:block;
    transform: translateX(-7px);
    transition: transform 0.2s ease-in-out;
  }
  .dropdown-menu > li > a:hover:before{
    transform: translateX(0);
  }
  .dropdown-menu li a{
    display:flex;
    align-items: center;
  }
  .navbar .dropdown-menu {
    margin-top: 0;
  }
  
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
  }
  
  .dropdown-submenu > a:after {
    font-family: "FontAwesome";
    position: absolute;
    content: "\f105";
    font-size: 16px;
    right: 15px;
    line-height: 1;
    color: #7b7b7b;
  }
  
  .navbar-nav .dropdown > i,
  .navbar-nav .dropdown-submenu > i {
    display: none;
  }

  .header {
    /* position: fixed;
    z-index:1005; 
    top:0;*/
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    background: #6DB7E0;
    background: linear-gradient(91.43deg, #6DB7E0 0%, #CDEDFF 100%);
  }
  .header.active{
    position: absolute;
    z-index: 10;
  }
      
.burger {
  display: none;
  background: url(../images/svg/burger.svg) no-repeat;
  background-size:contain;
  border: none;
  width: 30px;
  height: 23px;
  transition: all .3s ease-in-out;
}
  img.custom-logo{
  width:150px;
  margin:11px 0;
  }
  .header-container {
    max-width:100%;
    padding:0 30px;
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  
  .header-container.active.site-logo.site-title a{
    display:block;
    margin:0 auto;
    text-align:center;
  }
  
  .heading {
    margin-bottom: 0;
    font-size: 48px;
  }

  /* Menu Search
-------------------------------------------------------*/
a.nav-search {
    position: relative;
    display: block;
    float: left;
    width: 21px;
    height: 21px;
    color: #fff;
    line-height: 21px;
    text-align: center;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  
  .search-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 121;
    background-color: #fff;
  }
  
  .search-wrap .search-inner {
    display: table;
    width: 100%;
    height: 100%;
  }
  
  .search-wrap .search-cell {
    display: table-cell;
    vertical-align: middle;
  }
  
  .search-wrap .search-field-holder {
    width: 50%;
    margin: auto;
    position: relative;
    animation: slideInUp .3s;
  }
  
  .search-wrap .form-control {
    height: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #eaeaea;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    line-height: 2;
    margin-bottom: 0;
    color: #000000;
    position: relative;
  }
  
  .search-wrap input.form-control,
  .search-wrap input.form-control:focus {
    background-color: #fff;
  }
  
  .search-wrap .search-submit {
    opacity: 0;
  }
  
  .search-wrap .search-submit,
  .search-wrap .search-submit-icon {
    font-size: 32px;
    line-height: 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    color: #000000;
    background: 0 0;
    border: none;
    top: 22px;
    right: 0;
  }
  
  input.main-search-input::-webkit-input-placeholder {
    color: #000000;
  }
  
  input.main-search-input:-moz-placeholder {
    color: #000000;
    opacity: 1;
  }
  
  input.main-search-input::-moz-placeholder {
    color: #000000;
    opacity: 1;
  }
  
  input.main-search-input:-ms-input-placeholder {
    color: #000000;
  }
  
  .search-close {
    opacity: 0;
    visibility: hidden;
    font-size: 30px;
    z-index: 121;
    position: fixed;
    top: 42px;
    right: 116px;
    color: #000000;
    cursor: pointer;
  }
  
  .search-close.open {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-search.open .search-trigger {
    opacity: 0;
    z-index: 20;
  }
  
  .mobile-links li > a {
    padding: 15px 0 15px 15px;
    line-height: 20px;
    border-bottom: 1px solid #eaeaea;
    color: #343434;
    display: block;
  }
  
  .mobile-links li > a:hover {
    color: #0800a4;
  }
  
  .search-button {
    position: absolute;
    top: 0;
    height: 100%;
    right: 10px;
    background-color: transparent;
    border: none;
  }
  
  .search-button i {
    width: 14px;
    font-size: 13px;
  }
  
  .search-button i:hover {
    color: #171717;
  }
  .navbar-toggle {
    margin-top: 13px;
    border: none;
    z-index: 50;
    margin-right: 5px;
  }
  
  .navbar-toggle .icon-bar {
    background-color: #000000;
    width: 18px;
  }
  
  .navbar-toggle:focus .icon-bar, .navbar-toggle:hover .icon-bar {
    background-color: #0800a4;
  }
  
  .navbar-toggle:focus, .navbar-toggle:hover {
    background-color: transparent;
  }
  
  /*-------------------------------------------------------*/
/* 404
/*-------------------------------------------------------*/
.page-404 h1 {
    font-size: 200px;
    line-height: 1.2;
    font-weight:700;
    color: #36434B;
  }
  
  .page-404 a,
  .page-404 p {
    font-size: 14px;
  }
  @media (max-width: 1024px) {
    .content-wrapper{
      max-width: 100%;
      padding-left:30px;
      padding-right:30px;
    }
    .container-fluid{
      margin-top:55px;
    }
    .navbar-nav .dropdown > i,
    .navbar-nav .dropdown-submenu > i {
      display: block;
      width: 51px;
      height: 51px;
      line-height: 51px;
      text-align: center;
      position: absolute;
      color: #7b7b7b;
      right: 0;
      top: 0;
      z-index: 50;
      cursor: pointer;
    }
    .header-container {
      flex-wrap: wrap;
    }
    .burger {
      display: block;
      align-self: center;
    }
    .menu-item {
      padding: 0;
      font-weight: 400;
      margin-right: 0;
    }
    .menu-item:active {
      background-color: rgba(255, 153, 0, .2);
    }
    .menu-item a {
      font-size: 24px;
      font-weight: 400;
    }
    .navbar-nav {
      display: none;
      order: 4;
      flex-basis: 100%;
    }
    .dropdown-menu, .dropdown-submenu > .dropdown-menu{
      visibility: visible;
    }
    .dropdown-menu{
      box-shadow:none;
    }
    .dropdown-menu > li > a:before{
      display: none;
    }
    .dropdown-menu li a {
      margin-left: 0;
    }
    .dropdown-menu li > a{
      display: block;
      align-items: center;
      padding: 0;
      font-size:16px;
      border:none;
      text-decoration:none;
      text-align: center;
      /* align-items: center; */
      justify-content: center;
    }


    /* .navigation{
      flex-direction: column;
      flex-basis: 100%;
    } */
    .header-container.active{
      /* flex-direction: column; */
      flex-basis: 100%;
    }
    .navbar-nav.active {
      display: block;
      flex-basis: 100%;
      text-align: center;
      flex-basis: 100%;
      margin: 0 auto;
    }
    .header-container.active {
      flex-wrap: wrap;
      padding-bottom: 50px;
    }
    /* .header-container.active.site-logo.site-title a{
      display: block;
      text-align: center;
      margin: 0 auto;
      color: #171717;
      font-size: 28px;
      font-weight: 700;
    } */
    
    .navbar-nav.active:before {
      content: '';
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      height: 1px;
      background: #24404f;
    }
    .navbar-nav.active .menu-item{
      float:none;
      display:flex;
      flex-direction:column;
    }
    .navbar-nav > li > a{
      font-size:20px;
      line-height:1.5;
      font-weight:700;
    }
  
    .burger.active {
      background: url('../images/svg/burger-close.svg') no-repeat;
      background-size:contain;
    }
    .dropdown-menu {
      display: block;
      background: none;
      position: relative;
  }
    .first-block {
      position: absolute;
      padding: 30px;
      width: 80%;
      height:auto;
      top: 5%;
      left: 10%;
      z-index: 1005;
  }
}
  
  @media (max-width: 991px) {
  
    .navbar-nav .dropdown > i,
    .navbar-nav .dropdown-submenu > i {
      display: block;
      width: 51px;
      height: 51px;
      line-height: 51px;
      text-align: center;
      position: absolute;
      color: #7b7b7b;
      right: 0;
      top: 0;
      z-index: 50;
      cursor: pointer;
    }
  }
  
  @media (min-width: 992px) {
    .dropdown-menu,
    .dropdown-submenu > .dropdown-menu {
      display: block;
      visibility: hidden;
      opacity: 0;
      -webkit-transform: translateY(30px);
      -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
      -o-transform: translateY(30px);
      transform: translateY(30px);
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }
    .dropdown:hover > .dropdown-menu,
    .dropdown-submenu:hover > .dropdown-menu {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .cf-container .cf-field {
    flex: 1 1 100% !important;
    padding: 0 10px !important;
    border-width: 0 1px 0 0 !important;
  }
  .pedigree {
    margin-top: 50px;
}
.pedigree.h2-heading{
  text-align:center;
}
.pedigree__list li:first-child {
  flex-basis: 30%;
  display:flex;
  align-items:center;
  justify-content: center;
}
.pedigree__list li:nth-child(2) {
  flex-basis: 80%;
}
ul.pedigree__list {
  display: flex;
}

.parent-dog__card__list{
  display:flex;
  /* margin-bottom: 20px; */
}

.pedigree__list {
  display: flex;
}

.pedigree__card-dog, .parent-dog__card__list__item__card {
  padding: 2%;
  text-align: center;
  border: 2px solid #cacaca;
  background: rgba(205,237,255,.4);
  width: 100%;
}

.dog-card__summary__info h5 {
  text-align: center;
}

.parent-dog__card__list li:first-child {
  flex-basis: 30%;
}
.parent-dog__card__list li:first-child {
  flex-basis: 50%;
}
.parent-dog__card__list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mini__dog-card {
  position:relative;
  margin-left: 20px;
}

.mini__dog-card.empty-card {
  min-height: 40%;
}
.mini__dog-card.empty-card p {
  margin: 0 auto;
  font-size: 20px;
}
/* .mini__dog-card__info {
  margin-left: 30px;
} */
.pedigree__list__item {
  margin-left: 20px;
} 

.pedigree__list li:first-child {
  margin-left: 0;
}

.parent-dog__card__list__item__card a .thumb-img {
  text-align: center;
}

.dog-card__summary__info {
  text-align: center;
}
/* .parent-dog__card__list__item {
  margin-left: 20px;
} */

.parent-dog__card__list li:first-child{
  position:relative;
}

/* ul.parent-dog__card__list li:first-child:before {
  content: '';
  display: block;
  position: absolute;
  background: #6db7e0;
  left: -20px;
  top: 70%;
  width: 20px;
  height: 2px;
} */

.pedigree__list__item{
  position:relative;
}
.parent-dog__card{
  position:relative;
}
.pedigree__list li:nth-child(2) .parent-dog__card:before{
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  left: -20px;
  bottom: 30%;
  background: #cacaca;
}

.pedigree__list li:nth-child(2) .parent-dog__card:last-child:before{
  bottom: 70%;
}

li.parent-dog__card__list__item .mini__dog-card:before{
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  left: -22px;
  bottom: 50%;
  background: #6db7e0;
}

.parent-dog__card__list li:nth-child(2n) {
  margin-left: 20px;
}

/* .parent-dog__card__list__item div:first-child {
  margin-bottom: 20px;
} */

.pedigree__list__item.first .pedigree__card-dog {
  padding-top: 15%;
  padding-bottom: 15%;
}

.parent-dog__card__list li:nth-child(2n) .pedigree__card-dog{
  position:relative;
}
.parent-dog__card__list li:nth-child(2n) .pedigree__card-dog:before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  left: -22px;
  bottom: 50%;
  background: #cacaca;
}

.parent-dog__card__list li:nth-child(2n) .pedigree__card-dog {
  /* display: flex;
  align-items:center; */
}
.mini-card .mini__dog-card__info{
  text-align:center;
  
}
.mini-card .mini__dog-card__info h4{
  font-size:16px;
}
.mini-card div:first-child {
  margin-bottom: 0px;
}
.pedigree__card-dog.mini-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mini__dog-card__info {
  text-align: left;
}